// -----------------------------
// Migration Styles
// -----------------------------


#migrated-site {


// Stylseheet overrides
// -----------------------------


.contain {
    padding-left: 0;
    padding-right: 0;
    max-width: inherit;
}
.bk-header .contain {
    padding-bottom: 0;
}
[role="main"] .contain {
    padding: 0;
}




// Migration styles
// -----------------------------


.empty-zone,
#page-zones__main:empty,
.site-width-container,
#page-zones__main > .widget:not(.row),
.row:not(.widget):not(.row--width-no-padding) .row__container,
.bk-header .contain {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  width: 90%;
}


// Move spacing to first widget in the main zone (not sections)
.edit #page-zones__main-overlay + .widget:not(.row),
#page-zones__main > .widget:not(.row):first-child {
    margin-top: 60px;
}


// Move spacing to last widget in the main zone (not sections)
#page-zones__main > .widget:not(.row):last-child {
    margin-bottom: 60px;
}


// Add spacing to the top of a widget when it follows a section
#page-zones__main > .row + .widget:not(.row) {
    margin-top: 30px;
    
    @media @mobile {
        margin-top: 20px;
    }
}


// Adds spacing to the section when a widget is before it
#page-zones__main > .widget:not(.row) + .row {
    margin-bottom: 30px;
    margin-top: 30px;
    
    @media @mobile {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &:not(:last-child) {
         margin-bottom: 0;
    }
}


// Empy zone spacing
&.edit .canvas #page-zones__main:empty {
    margin-top: 3830px;
    margin-bottom: 3830px;
    
    @media @mobile {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}


}
